.about-banner {
    width: 100%;
}

.about h2 {
    padding: 10px;
}

.about p {
    padding: 10px;
}

.about {
    background-color: white;
    color: black;
}

.about-dark {
    background-color: black;
    color: white;
}