.detail-page-container {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    background-color: white;
}

.detail-page-container-dark {
    background-color: black;
}

.detail-page-container img {
    width: 375px;
    border-radius: 10px;
    margin: 20px;
}

.detail-page-details {
    margin: 20px;
}

.detail-page-details-dark {
   color: white;
}