.header-container {
    background-color: #665CAB;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    padding: 2% 5%;
    justify-content: space-between;
}

.header-container-dark {
    background-color: #434343;
}

.nav-button-container {
    display: flex;
    width: 50%;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
}


.profile-container {
    width: 20%;
    display: flex;
}

.nav-button {
    background-color: #ffffff00;
    border: 0ch;
    font-weight: 400;
    font-size: medium;
    outline: none;
    cursor: pointer;
    height: 25px;
    width: 100px;
    color: white;
    text-decoration: none;
}

.theme-button {
    background-color: #ffffff00;
    border: 0ch;
    font-weight: 400;
    font-size: medium;
    outline: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding-left: 10px;
}