.home-page-container {
 background-color: white;
}

.home-page-container-dark {
 background-color: black;
}

.home-page-container h1 {
    text-align: center;
    padding-bottom: 8px;
}

.home-page-container-dark h1 {
    color: white;
    background-color: black;
}

.handle-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.handle-filter {
    width: 50%;
    min-width: 350px;
    min-height: 40px;
    background-color: #665CAB;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    padding-left: 8px;
    color: aliceblue;
}

.handle-filter-dark {
    background-color: #434343;
}

.handle-filter::placeholder {
    color: white;
}

.character-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
