* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
.header-container {
    background-color: #665CAB;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem 5%;
    justify-content: space-between;
  }

.nav-button-container {
    display: flex;
    max-width: 50%;
    justify-content: space-around;
}

.profile-container {
    width: 10%;
    display: flex;
    flex-flow: row-reverse;

  }


  .nav-button {
    background-color: #665CAB;
    border: 0ch;
    font-weight: 400;
    font-size: medium;
    position: relative;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 25px;
    width: 100px;
    color: white;
    justify-content: center;
  }

  .character-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .handle-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .handle-filter {
    width: 50%;
    min-width: 350px;
    min-height: 40px;
    background-color: #665CAB;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    padding-left: 8px;
  }

  .handle-filter::placeholder {
    color: white;
  }

  .character-card {
    margin: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    width: 250px;
    overflow: hidden;
  }

  .character-card p {
    margin: 3px;
  }

  .character-card button {
    width: 45%;
    background-color: #665CAB;
    color: aliceblue;
    font-size: medium;
    font-weight: 400;
    padding: 5px;
    border-radius: 3px;
    border: none;
  }

  h1 {
    text-align: center;
    padding-bottom: 8px;
  }